<html>
<head>
  <div class="header">
 <h1>Советы по уходу, ветеринарные рекомендации и форум для владельцев.</h1>
  <p>На этом сайте вы сможете узнать ветеринарные советы и уход за вашими домашними друзьями!</p>
  </div>
  <div class="bang">
    <a href="index33">вперед</a>
    <a href="index11">назад</a>
  <a class="right" href="index52">На главную</a>
  </div>
    <div class="row">
    <div class="main">
    <h2>Лишай</h2>
    <h5>Январь 26 пятница 2024 год</h5>
    <div class="bimg" style="height:240px"><img src="{{ url_for('static', filename='images/photo1.jpg') }}" width="350"></div>
    <pre><p><h1>Симптомы</h1>
      Достаточно сложно определить инкубационный период, хотя многие исследователи подаю цифры от 10 до 35 дней.
      Изначально заболевание проявляется образованием облысевших участков на коже. Размер, текстура, форма, зависят 
      от возбудителя. Если участок гладкий, неправильной формы, волос обломан, то речь может идти о микроспории. 
      Зуд при этом отсутствует, а места поражения находятся на голове, холке, шее, конечностях. Если лишаём назван 
      фавус, то поражённые участки будут лысыми, а дерма складчатой, красно-вишнёвой, нередко покрытая корками, 
      налипанием экссудата с засохшими струпьями. Зуд может проявляться, а может быть, и не заметен. Местом локализации 
      гриб выбрал межпальцевое пространство, голову, зону вокруг губ и глаз. Грибы рода Trichophyton (стригущий 
      лишай, трихофития) проявляют чётко выраженный характер. Воспалённые места имеют явняе границы, волос отсутствует, 
      кожные покровы плотные, покрытые тёмными корками. Место локализации не отличается от предыдущих видов грибов, явно 
      выражен зуд. Особо опасны грибы для молодняка. Пушные звери заболевают с локализацией лишайных повреждений 
      вокруг глаз, ушных раковин, на конечностях.</P>
      <pre><p><h1>Лечение</h1>
      Для оказания помощи применяют фунгицидные и фунгистатические препараты. Если процесс в начальной стадии, то 
      применение 10% раствора салициловой кислоты на 5% настойке йода приостанавливает процесс. Обрабатывая поражённые 
      участки, процедуру начинают с периферийных участков, постепенно продвигаясь к центру. Внутрь назначается 
      противогрибковый антибиотик гризеофульвин или клотримазол. В качестве лекарственных мазей можно использовать 
      «Ям», термикон, экзодерил, ламикон. Удобны в применении и спреи с фунгицидными свойствами. Обрабатывать воспалённые 
      участки необходимо по 3-4 раза в день до полного выздоровления. Мелким животным показаны водные процедуры с 
      применением шампуней «Низорал», «Себазол». На животноводческих фермах при возникновении вспышки в корма подмешивают 
      гризеофульвин на протяжении 15-25 дней, с перерывом в 10 дней и курс вновь повторяют до полного зарастания мест 
      патологии.</P> 
      </div>
    <div class="side">
      <h5>Когда оптимально вакцинировать щенков против чумы плотоядных и других полезней</h5>
      <a href="https://vetandlife.ru/category/sobotiya/">Узнать подробнее</a>
  <div class="img" style="height:200px"><img src="{{ url_for('static', filename='images/photo6.jpg') }}"></div>
  <h2><pre>Чтобы воспользоваться фильтром 
веритесь на главную страницу</pre></h2>
    
    </div>
    </div>
    <div class="footer">
      
      <div class="row">
      <ul>
        <li><p>pochta@gmail.com</p></li> <li><p>8 888 888 88 88</p></li> <li><p>@zapretogramm</p></li> <li><p>@telegramm</p></li>
      </ul>
      </div>
      
      <div class="row">
      Ветеринарная клиника Счастье © 2021
      </div>
      </div>
      </footer>
  <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
  
</body>
</html>