<html>
<head>
  <div class="header">
 <h1>Советы по уходу, ветеринарные рекомендации и форум для владельцев.</h1>
  <p>На этом сайте вы сможете узнать ветеринарные советы и уход за вашими домашними друзьями!</p>
  </div>
  <div class="bang">
    <a href="index2">вперед</a>
    <a href="index52">назад</a>
  <a class="right" href="index52">На главную</a>
  </div>
    <div class="row">
    <div class="main">
    <h2>Пневмония</h2>
    <h5>Январь 26 пятница 2024 год</h5>
    <div class="bimg" style="height:240px"><img src="{{ url_for('static', filename='images/photo2.jpg') }}" width="350"></div>
    <pre><p><h1>Симптомы</h1>
      Животные угнетены. Аппетит ослаблен или отсутствует. Температура тела повышается резко и на 1-2 ᵒC. 
      При остром течении пневмонию сопровождает надрывистый, сухой, болезненный кашель. Дыхание жёсткое. 
      При аускультации прослушиваются сухие хрипы. При благоприятном течении и применении своевременного 
      лечения через 3-4 дня состояние стабилизируется. Кашель становится мокрым и глубоким, заметен 
      процесс отхаркивания, хрипы прослушиваются влажные. При усилении воспалительных процессов 
      слизистые оболочки становятся цианотичными, сухими. Перкуссионными методами можно выявить очаги 
      притупления звука и контролировать  стадии процесса.</P>
      <pre><p><h1>Лечение</h1>
      Кормление животных проводится высокопитательными, сбалансированными, легко усвояемыми, доброкачественными  кормами.
      Животному обеспечивают покой. Основой лечения должны быть антибиотики широкого спектра, цефалоспоринового ряда, которые 
      быстро купируют процесс и снимают воспаление. Можно воспользоваться ампициллином, флемоксилом, амоксициллином, применить
      цефатоксим, ципрофлоксацин. Из макролидов хорошим эффектом обладают вильпрафен и сумамед. Назначая лечение первоначально 
      применяют ударную дозу антибиотиков, далее останавливаются на 5-7 тыс. ЕД на килограмм веса животного. Курс лечения 10-12 дней.
      Комплексно с антибиотиками применяют сульфаниламидные препараты (сульфадиметоксин, сульфадимезин). Одновременно животному 
      назначаются отхаркивающие препараты, которые проведут разжижение мокроты собравшейся в альвеолах и выведут её наружу посредством 
      отхаркивания. Можно применить мукалтин, настой цветов фиалки трёхцветной, таблетки или траву термопсиса. Если заболевание носит 
      массовый характер на животноводческих комплексах, то следует устранить причину (загазованность, запылённость и т. д.) и применить 
      аэрозоли антибиотиков и гидроаэроионизацию. При нарушении сердечной деятельности вводят кофеин, глюкозу, камфорное масло. 
      Назначается курс витаминотерапии. Животным не дают возможности залёживаться. Моцион и постоянные прогулки в период 
      выздоровления способствуют лучшей работе и вентиляции лёгких, что поможет быстро вывести содержимое альвеол наружу.</P> 
      </div>
      
    
    <div class="side">

    <h5>Когда оптимально вакцинировать щенков против чумы плотоядных и других полезней</h5>
    <a href="https://vetandlife.ru/category/sobotiya/">Узнать подробнее</a>
  <div class="img" style="height:200px"><img src="{{ url_for('static', filename='images/photo6.jpg') }}"></div>
  <h2><pre>Чтобы воспользоваться фильтром 
веритесь на главную страницу</pre></h2>
    </div>
    </div>
    <div id="sigCommentsBlock"></div>
<script type="text/javascript">
	(function(){
		var host_id = '7337';
		var script = document.createElement('script');
		script.type = 'text/javascript';
		script.async = true;
		script.src = '//sigcomments.com/chat/?host_id='+host_id;
		var ss = document.getElementsByTagName('script')[0]; 
		ss.parentNode.insertBefore(script, ss);
	})();
</script>
    <div class="footer">
      
      <div class="row">
      <ul>
        <li><p>pochta@gmail.com</p></li> <li><p>8 888 888 88 88</p></li> <li><p>@zapretogramm</p></li> <li><p>@telegramm</p></li>
      </ul>
      </div>
      
      <div class="row">
      Ветеринарная клиника Счастье © 2021
      </div>
      </div>
      </footer>
  <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
  
</body>
</html>